src/main/java/fi/vaylavirasto/sillari/service/fim/groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="groups" type="groupsType"/>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element type="xs:string" name="ObjectKey"/>
            <xs:element type="xs:string" name="ObjectID"/>
            <xs:element type="xs:string" name="AccountName"/>
            <xs:element type="xs:string" name="DisplayName"/>
            <xs:element type="xs:string" name="FirstName"/>
            <xs:element type="xs:string" name="LastName"/>
            <xs:element type="xs:string" name="Email"/>
            <xs:element type="xs:string" name="Yksikko"/>
            <xs:element type="xs:string" name="Department"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personsType">
        <xs:sequence>
            <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="groupType">
        <xs:sequence>
            <xs:element type="xs:string" name="ObjectKey"/>
            <xs:element type="xs:string" name="ObjectID"/>
            <xs:element type="xs:string" name="DisplayName"/>
            <xs:element type="personsType" name="persons"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="groupsType">
        <xs:sequence>
            <xs:element type="groupType" name="group"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>